/* CSS reset */
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

/* Generic Constraints */
body {
  min-width: 400px;
  background-color: black;
  color: whitesmoke;
}

/* header styling */

h1 {
  margin-left: 1rem;
}

.main-header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.search-submit {
  background-color: darkorange;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-color: darkorange;
}

.header-menu {
  display: flex;
  list-style: none;
}

.header-menu > .header-menu-item {
  margin: 0 0.5rem;
}

.header-menue-link {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
.header-menue-link:hover {
  color: deepskyblue;
}
/*Carrousel */
.carousel-item .banner-thumbnail {
  border-radius: 1rem;
}
/*movie list*/
.movie-list-title {
  margin-left: 1rem;
  margin-top: 1rem;
}

.movie-list-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.movie-list {
  padding: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}

.movie-list .movie-tn-small {
  height: 200px;
}

.movie-item {
  margin: 0.5rem;
}

.move-button {
  position: absolute;
  border-radius: 50%;
  border: none;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.move-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.move-button.left {
  left: 1rem;
}

.move-button.right {
  right: 1rem;
}
.arrow-icon {
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: content-box;
}

/* Footer styles*/
.back-to-top-container {
  display: flex;
  justify-content: center;
  align-items: middle;
  height: 4rem;
}

.back-to-top {
  color: whitesmoke;
  text-decoration: none;
}

.back-to-top:hover {
    color: deepskyblue;
}

.footer-menue {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-menue-item {
  margin: 1rem 2rem;
}

.footer-menue-link {
  color: white;
  text-decoration:none ;
}

.footer-menue-link:hover {
  color:deepskyblue;
}

/* Media queries */

.display-medium-and-below {
  display: none;
}

@media screen and (max-width: 992px) {
  .display-medium-and-below {
    display: inline-block;
  }
  .search-form {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    flex-direction: column;
  }
}
